*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: Sofia Pro Regular;
  src: url("../assets/fonts/Sofia\ Pro\ Regular.ttf");
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: Sofia Pro Regular;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: var(--full);
  height: var(--full);
  background: var(--main-bg);
  color: var(--text-primary);
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  position: relative;
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  line-height: 1.6;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  font-family: inherit;
  white-space: nowrap;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
