:root {
  --gradient-pink: #cc4aa7;
  --gradient-blue: #7a8bf6;
  --gradient-purple: #a83be3;
  --header-bg: #373f68;
  --button-purple: #ac20e9;
  --fade: #f4f6ff;
  --text-primary: #707183;
  --text-secondary: #8e8fca;
  --text-muted: #c5c5c9;
  --main-bg: #f7f8fc;
  --white: white;
  --orange: #eca1ad;
  --purple: #9246d2;
  --teal: #72b1e0;
  --blue: #4962e5;
  --full: 100%;
  --wrapper-max-width: 1366px;
  --wrapper-min-width: 240px;
}
