.header {
  grid-column: 2;
  grid-row: 1;
  background: var(--header-bg);
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px;
  border-radius: 10px;

  @media (max-width: 1023px) {
    width: var(--full);
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    height: auto;
    order: 2;
  }

  .suggestions {
    display: flex;
    align-items: center;

    @media (max-width: 1023px) {
      margin-bottom: 16px;
    }

    svg {
      width: 25px;
      height: 25px;
      fill: var(--white);
    }

    > span {
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
      margin-left: 16px;
    }
  }

  .sort {
    display: flex;
    align-items: baseline;
    margin-left: 54px;

    @media (max-width: 1023px) {
      display: block;
      margin-left: 0;
      margin-bottom: 16px;

      > span {
        margin-bottom: 5px;
        display: block;
      }
    }

    > .select_wrapper {
      margin-left: 16px;
      width: 125px;
      position: relative;
      display: flex;
      align-items: center;

      @media (max-width: 1023px) {
        margin-left: 0;
      }

      &::after {
        content: "\f078";
        font-weight: 900;
        font-family: FontAwesome;
        font-size: 12px;
        color: var(--white);
        position: absolute;
        right: 0;
        pointer-events: none;
        flex-shrink: 0;
      }

      select {
        background: transparent;
        border: none;
        color: var(--white);
        font-weight: 700;
        height: var(--full);
        width: var(--full);
        outline: none;
        padding: 0;
        font-size: 16px;
      }
    }
  }

  .add-feedback {
    margin-left: auto;

    > button {
      width: 150px;
      padding: 7px;
      background: var(--button-purple);
      border-radius: 10px;
      color: var(--white);
      font-weight: 600;
      font-size: 14px;
      border: 1px solid var(--button-purple);
      display: flex;
      align-items: center;
      justify-content: center;

      > i {
        margin-right: 7px;
        font-size: 11px;
      }
    }
  }
}
